# Node
node_modules/
.pnpm-store/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
build/
.next/
out/
*.tsbuildinfo

# Turbo
.turbo/

# Environment
.env
.env.local
.env.production
.env*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database / SQLite / Temp
*.sqlite
*.sqlite-journal
scratch/
